{% extends 'layout.html' %}

{% block title %}
    TEST PYTHON JR
{% endblock %}


{% block content %}

    <h1>TEST PYTHON JR</h1>

    <h2><a href="/humpty">HUMPTY-DUMPTY</a></h2>
    <p>        
        Escribe una funcion que reciba un numero n, que indica el limite superior de una lista de los números del 1 a n.
        <br><br>
        La función debe retornar dicha lista con sus elementos en forma de cadena, pero por cada múltiplo de 3 debe ser sustituido por 'Humpty' en vez del número, y para los múltiplos de 5, debe ser sustituido por 'Dumpty' en vez del número. 
        <br><br>
        Para los números que son múltiplos tanto de 3 como de 5 debe ser sustituido por 'HumptyDumpty'.
    </p>
    <hr>
    <h2><a href="/suma">SUMA-MULTIPLOS</a></h2>
    <p>        
        Si listamos todos los números naturales debajo del 10 que son múltiplos del 3 o 5, obtenemos 3, 5, 6, y 9.
        <br>
        La suma de estos múltiplos es 23.
        <br><br>        
        Escribe una función que reciba n y retorne la suma de todos los múltiplos de 3 o 5 debajo de n.
        <br><br>
        USANDO LA MENOR CANTIDAD DE LINEAS DE CÓDIGO.
    </p>
    <hr>
    <h2><a href="/pday">DAY-PROGRAMMER</a></h2>
    <p>        
        La idea de celebrar el día del programador se les ocurrió a Valentin Balt y Michael Cherviakov, dos programadores rusos alrededor del año 2002, quienes consiguieron que fuera reconocido oficialmente por el gobierno ruso en 2009. 
        <br><br>
        El 11 de septiembre de 2009 el presidente de Rusia, Dmitry Medvedev firmó el decreto que oficializó esta celebración.
        <br><br>
        El día del programador corresponde al día 256 del año. 
        <br><br>
        Este número fue elegido porque es la cantidad de valores que se pueden representar en un byte de 8 bits, una cifra muy reconocible por los programadores y por supuesto es un valor menor a 365, que son los días del año.
        <br><br>
        Escribe una funcion que reciba como argumento el año.
        <br><br>
        Al ser llamada debe retornar una lista compuesta.
        <br>
    </p>
    <hr>


{% endblock %}
