{% extends 'layout.html' %}

{% block title %}
    DAY PROGRAMMER
{% endblock %}


{% block content %}

    <h1>DAY PROGRAMMER</h1>
    <h3>Instrucciones</h3>
    <p>
        La idea de celebrar el día del programador se les ocurrió a Valentin Balt y Michael Cherviakov, dos programadores rusos alrededor del año 2002, quienes consiguieron que fuera reconocido oficialmente por el gobierno ruso en 2009. 
        <br><br>
        El 11 de septiembre de 2009 el presidente de Rusia, Dmitry Medvedev firmó el decreto que oficializó esta celebración.
        <br><br>
        El día del programador corresponde al día 256 del año. 
        <br><br>
        Este número fue elegido porque es la cantidad de valores que se pueden representar en un byte de 8 bits, una cifra muy reconocible por los programadores y por supuesto es un valor menor a 365, que son los días del año.
        <br><br>
        Escribe una funcion que reciba como argumento el año.
        <br><br>
        Al ser llamada debe retornar una lista compuesta de los siguientes elementos en ese orden:
        <br>
        el día del mes en que se celebrará el día del programador,
        <br>
        el nombre del mes en que se celebrará el día del programador,
        <br>
        el año que se introdujo como entrada,
        <br>
        el nombre del día de la semana en que se celebrará el día del programador,
        <br>
        y la palabra "celebrará".
    </p>

    <form action="{% url 'core:youpday' %}">

        <label for="anio">Number</label>
        <input type="number" name="anio" id="anio" step="1" placeholder="2022" min="1" max="10000">

        <button>Generate Day</button>
    
    </form>


{% endblock %}
