<!-- ----------
    HEADER    
---------- --> 
    <header>
        <div class="header__container">
            <div class="header-title">
                <a href="/"><span>PYTHON JR</span></a>
            </div>
            <!-- --- MENU MOBILE --- -->                    
            <div class="header-menu">
                <div id="navbar-button">
                    <!-- --- BOTTON HAMBURGER --- -->                    
                    <button class="open" onclick="showMenuMobile();">                        
                        <span class="top-line"></span>
                        <span class="mid-line"></span>
                        <span class="bottom-line"></span>
                    </button>
                    <!-- --- MENU OPTIONS --- -->                    
                    <div id="menu-mobile-options">
                        <li class="option-item"><strong><a href="/">HOME</a></strong></li>
                        <li class="option-item"><strong><a href="/humpty">HUMPTY</a></strong></li>
                        <li class="option-item"><strong><a href="/suma">SUMA</a></strong></li>
                        <li class="option-item"><strong><a href="/pday">DEVDAY</a></strong></li>
                        <li class="option-item"><strong><a href="/contact">CONTACT</a></strong></li>
                    </div> 

                </div>
            </div>
            <!-- --- MENU COMPUTER --- -->                    
            <div id="menu-pc-options">
                <li class="option-item-pc"><strong><a href="/humpty">HUMPTY</a></strong></li>                        
                <li class="option-item-pc"><strong><a href="/suma">SUMA</a></strong></li>
                <li class="option-item-pc"><strong><a href="/pday">DEVDAY</a></strong></li>
                <li class="option-item-pc"><strong><a href="/contact">CONTACT</a></strong></li>
            </div>
        </div>
    </header>
